/**
 * @file
 * Visual styles for comment in Business+ Lite.
 */
/*Comment*/
.comment {
  margin: 0 0 25px 0;
  position: relative;
  padding: 30px;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.comment header {
  width: 60px;
  height: 60px;
}
.comment .field--name-user-picture a {
  display: block;
}
.comment h3.title {
  margin: 0 0 10px 0;
  font-size: 24px;
}
.comment h3.title a {
  color: #424242;
}
.comment__meta {
  font-size: 16px;
  color: #939393;
  margin-bottom: 10px;
}
.comment__meta .username {
  text-transform: capitalize;
}
.comment__meta .username:hover,
.comment__meta .username:focus {
  text-decoration: underline;
}
.field--name-comment-body {
  font-size: 18px;
  line-height: 1.66;
  color: #424242;
}
.node .comment ul.links.inline {
  margin-right: -5px;
  margin-left: -5px;
  display: inline-block;
  padding: 0;
}
.node .comment ul.links li {
  font-size: 16px;
}
.node .comment ul.links li a {
  background: transparent;
  font-size: 16px;
  padding: 0 2px;
  margin: 0;
  font-weight: 400;
  display: inline;
  min-width: 0;
  text-align: left;
  border: none;
  text-transform: none;
  text-decoration: none;
  box-shadow: none;
}
.node .comment ul.links li a:hover,
.node .comment ul.links li a:focus {
  text-decoration: underline;
}
.user-logged-in .node .comment ul.links li a {
  padding: 0 5px;
}
.node .comment ul.links li a:hover {
  background: transparent;
  text-decoration: none;
  color: #575757;
}
.node .comment ul.links li a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  padding: 0 5px 0 0;
  font-size: 14px;
}
.node .comment ul.links li.comment-delete a:before {
  content: "\f2ed";
}
.node .comment ul.links li.comment-edit a:before {
  content: "\f044";
}
.node .comment ul.links li.comment-reply a:before {
  content: "\f122";
}
.new-indicator {
  position: absolute;
  top: -25px;
}
.indented {
  margin-left: 100px;
}
@media (min-width: 768px) {
  .comment__links {
    text-align: right;
  }
}
@media (max-width:767px) {
  .indented {
    margin-left: 65px;
  }
  .comment header {
    margin-bottom: 10px;
  }
  .comment header + .comment__content-container {
    padding-left: 0;
  }
  .comment__meta {
    margin-bottom: 10px;
  }
}
@media (max-width:575px) {
  .indented {
    margin-left: 30px;
  }
}
