/**
 * @file
 * Visual styles for comments section in Business+ Lite.
 */

/*comments section*/
.comment-wrapper {
  margin-top: 45px;
}
.comment-wrapper h2.title {
  padding-bottom: 15px;
  margin: 10px 0 30px 0;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #f2f2f2;
  text-align: left;
  border-top-width: 0;
  padding-top: 0;
  max-width: 100%;
}
.comment-wrapper h2.title:after {
  width: 0;
  height: 0;
}
