/**
 * @file
 * Visual styles for Business+ Lite's credits cards block.
 */
.credit-cards {
  padding-left: 0;
}
.credit-cards li {
  display: inline-block;
  padding: 0;
  font-size: 36px;
}
.region--dark-typography .credit-cards li {
  color: #363636;
}
