/**
 * @file
 * Visual styles for Business+ Lite's dropdowns.
 */
.field--mt-dropdowns-block {
  text-align: right;
}
.header__section .field--mt-dropdowns-block {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .page-container-border-enabled .header-container .container-fluid .header-third .field--mt-dropdowns-block {
    padding-right: 15px;
  } 
}
@media (max-width: 767px) {
  .header-third .field--mt-dropdowns-block {
    display: none;
  }
}
.dropdown-toggle {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0 10px;
  line-height: 38px;
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  border-width: 0px;
  border-radius: 100%;
}
.dropdown-toggle::after {
  border: 0;
  margin: 0;
}
.dropdown-menu {
  min-width: 335px;
  padding: 20px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 10px;
  border-radius: 0;
}
.region--white-background .dropdown-menu {
  background-color: #ffffff;
}
.region--gray-background .dropdown-menu {
  background-color: #f4f4f4;
}
.header.region--gray-background .dropdown-menu {
  background-color: #f1f1f1;
}
.region--black-background .dropdown-menu {
  background-color: #1d1d1d;
}
.region--white-pattern .dropdown-menu {
  background-image: url('../../images/white-pattern.png');
  background-repeat: repeat;
  background-position: 0 0;
}
.dropdown-menu .field__item + .field__item {
  padding-top: 20px;
}
