/**
 * @file
 * Visual styles for Business+ Lite's more links.
 */
.more-link {
  text-align: left;
  margin-top: 20px;
  clear: both;
}
.more-link a {
  margin: 0 0 10px 0px;
  display: block;
  background: transparent;
  padding: 0;
  text-align: left;
  border: none;
  font-weight: 300;
  text-decoration: none;
  font-size: 0.8em;
}
.region--light-typography .more-link a {
  color: #ffffff;
}
.region--light-typography.region--black-background .more-link a:hover {
  text-decoration: none;
}
@media (max-width:767px) {
  .footer__section .more-link a,
  .footer-bottom__section .more-link a,
  .subfooter__section .more-link a {
    text-align: center;
  }
}
