/**
 * @file
 * Visual styles for Business+ Lite's article content type.
 */
.node--type-article .node__meta {
  margin-bottom: 0;
}
.layout-no-sidebars.page-node-type-article .node--type-article .node__meta {
  text-align: center;
  display: block;
}
.node--type-article .node__meta-item {
  display: inline-block;
  font-size: 16px;
}
.node--type-article .node__meta-item:after {
  content: "/";
  padding-left: 10px;
  padding-right: 10px;
}
.node--type-article .node__meta-item:last-child:after {
  content: "";
  display: none;
}
.region--dark-typography .node--type-article .node__meta-item {
  color: #939393;
}
.node--type-article .node__meta-item .svg-inline--fa {
  margin-right: 5px;
  font-size: 14px;
}
.node--type-article .image-wrapper {
  position: relative;
}
.node--type-article .image-wrapper .day {
  font-size: 35px;
  font-weight: 600;
  display: block;
  line-height: 1;
}
.node--type-article .image-wrapper .month-year {
  font-size: 14px;
  font-weight: 500;
}
.node--type-article .node__header {
  margin-bottom: 0;
}
.node--type-article .node__meta .inline-list {
  margin-top: 0;
  margin-bottom: 0;
}
.page-node-type-article .page-title {
  margin-bottom: 10px;
}

/* article layout */
@media (min-width: 768px) {
  .node--type-article .node__side {
    float: left;
    width: 150px;
    padding-right: 30px;
    min-height: 1px;
  }
  .node--type-article .node__side + .node__main-content {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .node--type-article .node__side {
    display: none;
  }
}

/*article header*/
.node--type-article .node__submitted-info {
  font-size: 11px;
}

/*user info*/
.node__user-info {
  padding: 30px 0 0 0;
  border-top-width: 2px;
  border-top-color: #f2f2f2;
  border-top-style: solid;
  margin-top: 45px;
  margin-bottom: 55px;
}
.node__user-info .user-picture {
  margin-bottom: 10px;
}
.node__user-info .user-full-name {
  font-size: 18px;
  color: #424242;
  font-weight: 600;
}
.node__user-info .user-signature {
  color: #424242;
}
@media (min-width: 576px) {
  .node__user-info .user-picture {
    margin-right: 30px;
    float: left;
    max-width: 170px;
    max-height: 170px;
  }
  .node__user-info .user-picture ~ .user-full-name,
  .node__user-info .user-picture ~ .user-signature {
    margin-left: 170px;
  }
}
@media (max-width: 575px) {
  .node__user-info .field--name-user-picture {
    text-align: center;
  }
}

/*responsive typography*/
.paragraph-responsive-typography-enabled.page-node-type-article .node__main-content p {
  line-height: calc(155% + 0.2vw);
  font-size: calc(0.85em + 0.2vw);
}
.paragraph-responsive-typography-enabled.page-node-type-article .node--view-mode-teaser .node__main-content p {
  font-size: 18px;
  line-height: 1.5;
}

/*article subheader body*/
.node--type-article .node__main-content .field--name-field-mt-subheader-body p {
  font-size: 50px;
  line-height: 1.1;
}
.layout-no-sidebars .node--type-article .node__main-content .field--name-field-mt-subheader-body {
  text-align: center;
}

/*article teaser*/
.node--view-mode-teaser.node--type-article .images-container {
  margin-bottom: 20px;
}
.node--view-mode-teaser.node--type-article .node__header h2 {
  margin-bottom: 5px;
}
.node--view-mode-teaser.node--type-article .node__header h2 a {
  color: #575757;
}
.node--view-mode-teaser.node--type-article .node__header h2 a:hover {
  text-decoration: none;
}
.node--view-mode-teaser.node--type-article .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-teaser.node--type-article .field--entity-reference-target-type-taxonomy-term.field__item {
  margin-bottom: 0;
  margin-top: 5px;
}
.node--view-mode-teaser.node--type-article .node__links {
  margin-top: 0;
}
.node--view-mode-teaser.node--type-article .day {
  font-size: 35px;
  font-weight: 600;
  display: block;
  line-height: 1;
}
.node--view-mode-teaser.node--type-article .month-year {
  font-size: 14px;
  font-weight: 500;
}
